body{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.space1 { 
   position: absolute; 
   top: 215px; 
   left: 72px; 
   width: 100%; 
}
.space2 {
   position: absolute;
   top: 355px;
   left: 72px;
   width: 100%;
}
.space3 {
  position: absolute;
  top: 405px;
  left: 72px;
  width: 100%;
}
.space4 {
   position: absolute;
   top: 545px;
   left: 65px;
   width: 100%;
}
.space4 {
   position: absolute;
   top: 215px;
   left: 147px;
   width: 100%;
}


          


