body{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.space1 { 
   position: absolute; 
   top: 160px; 
   left: 65px; 
   width: 100%; 
}
