body{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.space1 { 
   position: absolute; 
   top: 215px; 
   left: 72px; 
   width: 100%; 
}
.space2 {
   position: absolute;
   top: 355px;
   left: 72px;
   width: 100%;
}
.space3 {
  position: absolute;
  top: 405px;
  left: 72px;
  width: 100%;
}
.space4 {
   position: absolute;
   top: 545px;
   left: 65px;
   width: 100%;
}
.space5 {
   position: absolute;
   top: 215px;
   left: 170px;
   width: 100%;
}
.space6 {
   position: absolute;
   top: 355px;
   left: 170px;
   width: 100%;
}
.space7 {
    position: absolute;
    top: 407px;
    left: 168px;
    width: 100%;
}
.space8 {
     position: absolute;
     top: 547px;
     left: 164px;
     width: 100%;
}
.space9 {
     position: absolute;
     top: 412px;
     left: 319px;
     width: 100%;
}
.space10 {
     position: absolute;
     top: 549px;
     left: 321px;
     width: 100%;
}
.space11 {
      position: absolute;
      top: 412px;
      left: 419px;
      width: 100%;
}
.space12 {
      position: absolute;
      top: 549px;
      left: 419px;
      width: 100%;
}
.space13 {
      position: absolute;
      top: 213px;
      left: 582px;
      width: 100%;
} 
.space14 {
      position: absolute;
      top: 348px;
      left: 581px;
      width: 100%;
}
.space15 {
      position: absolute;
      top: 414px;
      left: 580px;
      width: 100%;
}
.space16 {
      position: absolute;
      top: 548px;
      left: 582px;
      width: 100%;
}
.space17 {
      position: absolute;
      top: 212px;
      left: 679px;
      width: 100%;
}
.space18 {
      position: absolute;
      top: 348px;
      left: 677px;
      width: 100%;

}
.space19 {
      position: absolute;
      top: 548px;
      left: 582px;
      width: 100%;
}

